<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
		a{
			text-decoration: none;
			color: green;
			font-size: 20px;
			padding: 8px;
		}
		a:hover{
			color: blue;
		}
	         h1{
		text-align: right;
		}

 	</style>
</head>
<body>

    <nav style="padding:20px">
        <a href="admini">Administrator</a>

        <a href="guest">Guest</a>
        <a href="general">General Public</a>
    </nav>


<h1 style="text-align:center;padding:200px">
    <b>Guest reviews of Public Libraries</b></h1>

</body>

</html>